{% extends 'base.html.twig' %}

{% block body %}

    <h1>Login</h1>

    <section class="section-padding">
        <div class="container">
            <div class="row">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('admin_auth') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="mylogin" value="{{ last_username }}" />

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="mysecret" />

                    <button type="submit">login</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}