{% extends 'base.html.twig' %}

{% block body %}

    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                {{ form(form) }}
            </div>
        </div>
    </section>

{% endblock %}