{% extends 'base.html.twig' %}

{% block body %}


    <div class="banner">
        <div class="bg-color">
            <div class="container">
                <div class="row">
                    <div class="banner-text text-center">
                        <div class="text-border">
                            <h2 class="text-dec">PHP Central Europe</h2>
                        </div>
                        <div class="intro-para text-center quote">
                            <p class="big-text">Conference, Workshops &amp; Fun</p>
                            <p class="small-text">
                                Hotel Ossa Congress &amp; Spa
                            </p>
                            <a href="#pricing" class="btn get-quote">BUY TICKETS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>The Venue</h2>
                    <p>
                        We will third time stay (including PHPCon Poland) in
                        fifth largest hotel in Poland, the Ossa Cogress &amp;
                        Spa. It is situated in calm countryside, away from city
                        noise, which gives a possibility to take part both in
                        conference and active outdoor rest.
                    </p>
                    <hr class="bottom-line">
                </div>
                <div class="feature-info">
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Bed &amp; Breakfast</h4>
                                <p>
                                    Each of the 522 rooms in the hotel guarantees
                                    the highest quality rest. The Premium rooms
                                    will meet the requirements of a most
                                    demanding guest, and suites ensure luxury in
                                    spacious surroundings.
                                </p>
                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-hotel"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Entertainment</h4>
                                <p>
                                    There is a squash centre in the hotel with
                                    squash courts and professional equipment.
                                    There are bowling alleys in our hotel located
                                    near a bar so sport competition can be
                                    combined with a drink in a group of friends.
                                </p>
                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-gamepad"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Wellness &amp; Spa</h4>
                                <p>
                                    Each aspect of your stay in the hotel is
                                    important for us. One must never forget
                                    about the tired body that calls for its
                                    share of care and pleasure. In our Wellness
                                    Centre we shall look after  both your body
                                    and soul.
                                </p>
                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-bath"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="work-shop" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Featured Tutorials</h2>
                    <p>Friday, November 3<sup title="third">rd.</sup></p>
                    <hr class="bottom-line">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box text-center">
                        <div class="icon-box">
                            <i class="fa fa-graduation-cap color-green"></i>
                        </div>
                        <div class="icon-text">
                            <h4 class="ser-text">Symfony 4</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box text-center">
                        <div class="icon-box">
                            <i class="fa fa-graduation-cap color-green"></i>
                        </div>
                        <div class="icon-text">
                            <h4 class="ser-text">Functional Testing</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box text-center">
                        <div class="icon-box">
                            <i class="fa fa-graduation-cap color-green"></i>
                        </div>
                        <div class="icon-text">
                            <h4 class="ser-text">Hexagonal Architecture</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="faculity-member" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Featured Speakers</h2>
                    <p>Sneak peek of our top international speakers!</p>
                    <hr class="bottom-line">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pm-staff-profile-container">
                        <div class="pm-staff-profile-image-wrapper text-center">
                            <div class="pm-staff-profile-image">
                                <img src="img/sebastian.png" alt="" class="img-thumbnail img-circle" />
                            </div>
                        </div>
                        <div class="pm-staff-profile-details text-center">
                            <p class="pm-staff-profile-name">Sebastian Bergmann</p>
                            <p class="pm-staff-profile-title">The PHP.cc</p>
                            <p class="pm-staff-profile-bio">
                                Sebastian Bergmann has instrumentally contributed
                                to transforming PHP into a reliable platform for
                                large-scale, critical projects. Enterprises and
                                PHP developers around the world benefit from the
                                tools that he has developed and the experience
                                he shares. He's the leader of PHPUnit, the unit
                                testing framework as well as many other popular
                                quality tools like phploc. Sebastian is also a
                                famous conference speaker.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pm-staff-profile-container">
                        <div class="pm-staff-profile-image-wrapper text-center">
                            <div class="pm-staff-profile-image">
                                <img src="img/hugo.jpg" alt="" class="img-thumbnail img-circle" />
                            </div>
                        </div>
                        <div class="pm-staff-profile-details text-center">
                            <p class="pm-staff-profile-name">Hugo Hamon</p>
                            <p class="pm-staff-profile-title">SensioLabs</p>

                            <p class="pm-staff-profile-bio">
                                Hugo Hamon is a PHP and Symfony certified
                                developer. After five years of professional PHP
                                web development in web agencies for famous
                                french customers, he now works as a software
                                architect, consultant and trainer at SensioLabs.
                                On his free time, Hugo contributes to Symfony
                                and many other open source projects. Hugo also
                                wrote and contributed to french and english
                                books related to PHP and the Symfony framework.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pm-staff-profile-container">
                        <div class="pm-staff-profile-image-wrapper text-center">
                            <div class="pm-staff-profile-image">
                                <img src="img/derick.jpg" alt="" class="img-thumbnail img-circle" />
                            </div>
                        </div>
                        <div class="pm-staff-profile-details text-center">
                            <p class="pm-staff-profile-name">Derick Rethans</p>
                            <p class="pm-staff-profile-title">Mongodb</p>

                            <p class="pm-staff-profile-bio">
                                Derick Rethans is a PHP internals expert, author
                                of Xdebug and an OpenStreetMap and mapping enthusiast.
                                He has contributed in a number of ways to the PHP
                                project, including the Xdebug debugging tool, and
                                various extensions and additions. He's also a
                                frequent lecturer at conferences and a reknown
                                book author. He is now working at MongoDB to
                                work on the PHP and HHVM drivers for MongoDB.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Get Your Tickets</h2>
                    <p>Grab your conference and/or tutorial tickets now!</p>
                    <hr class="bottom-line">
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="price-table">
                        <!-- Plan  -->
                        <div class="pricing-head">
                            <h4>Conference</h4>
                            <span class="fa fa-eur curency"></span>
                            <span class="amount">250</span>
                        </div>
                        <div class="price-in mart-15">
                            <a href="#" class="btn btn-bg green btn-block">PURCHASE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="price-table">
                        <div class="pricing-head">
                            <h4>Tutorials</h4>
                            <span class="fa fa-eur curency"></span>
                            <span class="amount">550</span>
                        </div>
                        <div class="price-in mart-15">
                            <a href="#" class="btn btn-bg yellow btn-block">PURCHASE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="price-table">
                        <div class="pricing-head">
                            <h4>Conference + Tutorials</h4>
                            <span class="fa fa-eur curency"></span>
                            <span class="amount">690</span>
                        </div>
                        <div class="price-in mart-15">
                            <a href="#" class="btn btn-bg red btn-block">PURCHASE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}