{% extends 'base.html.twig' %}

{% block title speaker.name %}

{% block body %}

    <section id="faculity-member" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pm-staff-profile-container">
                        <div class="pm-staff-profile-image-wrapper text-center">
                            <div class="pm-staff-profile-image">
                                <img src="img/sebastian.png" alt="" class="img-thumbnail img-circle" />
                            </div>
                        </div>
                        <div class="pm-staff-profile-details text-center">
                            <p class="pm-staff-profile-name">
                                {{- speaker.name -}}
                            </p>
                            <p class="pm-staff-profile-title">The PHP.cc</p>
                            <p class="pm-staff-profile-bio">
                                {{ speaker.biography|default('To Be Defined') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}