{% extends 'base.html.twig' %}

{% block title 'List of Speakers' %}

{% block body %}

    <section id="faculity-member" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Featured Speakers</h2>
                    <p>Sneak peek of our top international speakers!</p>
                    <hr class="bottom-line">
                </div>

                {% for speaker in speakers %}
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="pm-staff-profile-container">
                            <div class="pm-staff-profile-image-wrapper text-center">
                                <div class="pm-staff-profile-image">
                                    <img src="img/sebastian.png" alt="" class="img-thumbnail img-circle" />
                                </div>
                            </div>
                            <div class="pm-staff-profile-details text-center">
                                <p class="pm-staff-profile-name">
                                    {{- speaker.name -}}
                                </p>
                                <p class="pm-staff-profile-title">The PHP.cc</p>
                                <p class="pm-staff-profile-bio">
                                    {{ speaker.biography|default('To Be Defined') }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}